.wordpress-rabbitmq-textfield {
  padding: 0.35em;
  width: 50%;
}

.wordpress-rabbitmq-fieldset {
  margin-bottom: 1em;
}

.wordpress-rabbitmq-fieldset label,
.wordpress-rabbitmq-fieldset input[type="text"],
.wordpress-rabbitmq-fieldset input[type="password"],
.wordpress-rabbitmq-fieldset input[type="number"] {
  display: block;
}

.wordpress-rabbitmq-fieldset label {
  margin-bottom: 1em;
}

.wordpress-rabbitmq-fieldset label.inline {
  display: inline;
}

.wordpress-rabbitmq-fieldset input {
  margin-top: 0.25em;
}

.wordpress-rabbitmq-radio-fieldset input[type="radio"] {
  position: relative;
  bottom: 2px;
}

.wordpress-rabbitmq-radio-fieldset label {
  margin-right: 1em;
}

.wordpress-rabbitmq-radio-fieldset .radio-wrapper {
  margin-bottom: 1em;
}

.wordpress-rabbitmq-form .submit {
  display: inline-block;
  margin: 0;
  padding: 0;
}
